@charset "UTF-8";

*{margin: 0; padding:0;
  font-family: 'Pretendard', sans-serif;
  *{cursor: url(https://cur.cursors-4u.net/nature/nat-2/nat120.cur), auto;}
}
ul{list-style: none;}
img{border:0; vertical-align: top;}
a{text-decoration: none; color:#000;}

/* button 기본 스타일 초기화 */
button { background: inherit; border:none; box-shadow:none;
  font-family: 'Pretendard-Regular';
  border-radius:0; padding:0; overflow:visible; cursor:pointer; }

/* input 기본 스타일 초기화 */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;  
  overflow-x: hidden;   
}

/* hero부분 */

#section .hero{
  width: 100%;
  height: 700px;
  position: relative;
  display: flex;
}

#section .bg-img{
  width: 100%;
  height: 700px;
  background-image: url(../images/main/hero-main.png);
  position: absolute;
  top: 0; left: 0;
  background-color: #8DCC71;
  opacity: 36%;
  z-index: -1;
}

#section .hero-wrap .hero-title{
  font-size: 58px;
  font-weight: 800;
  margin-left: 150px;
  margin-top: 115px;
  
}

#section .hero-wrap .hero-desc{
  font-size: 18px;
  font-weight: 300;
    margin-left: 150px;
    margin-top: 45px;
}

#section .hero-wrap .hero-desc>span{
  font-size: 16px;
  font-weight: 100;
  color: #585858;
  padding-top: 30px;
}

#section .hero .hero-button{
  display: flex;
  width: 320px;
  justify-content: space-between;
  margin-left: 150px;
  margin-top: 55px;
}

#section .hero .hero-button>li{
  font-size: 17px;
  font-weight: 300;
  width: 150px;
  height: 45px;
  border-radius: 70px;
  text-align: center;
  line-height: 45px;
}

#section .hero .hero-button .hero-btn{
  background-color: rgb(255, 255, 255);
}

#section .hero .hero-button .hero-btn:hover{
  background-color: #e6e6e6;
}

#section .hero .hero-button .hero-btn2{
  background-color: #FFCF4B;
}

#section .hero .hero-button .hero-btn2:hover{
  background-color: #f8b600;
}


#section .hero .hero-view{
  width: 1280px;
  height: 704px;
  position: absolute;
  top: 80px;
  left: 700px;
}

#section .hero .hero-view .hero-img img{
  position: absolute;
  top: 0;
  right: 0;
}

#section .hero .hero-view .hero-img img:nth-child(1){
  display: block;
  /* position: relative; */
}

#section .hero .hero-view .hero-img img:nth-child(2),
#section .hero .hero-view .hero-img img:nth-child(3),
#section .hero .hero-view .hero-img img:nth-child(4),
#section .hero .hero-view .hero-img img:nth-child(5){
  display: none;
}

#section .hero .hero-view .hero-btn-container{
  display: flex;
  width: 114px;
  height: 15px;
  justify-content: space-between;
  position: absolute;
  top: 700px; right: 300px;
}

#section .hero .hero-view .hero-btn-container .btn-container1,
#section .hero .hero-view .hero-btn-container .btn-container2,
#section .hero .hero-view .hero-btn-container .btn-container3,
#section .hero .hero-view .hero-btn-container .btn-container4,
#section .hero .hero-view .hero-btn-container .btn-container5{ 
  width: 15px;
  height: 15px;
  background-color: #D9D9D9;
  border-radius: 50%;
}

/* 호버시 */
#section .hero .hero-view .hero-btn-container .btn-container1:hover,
#section .hero .hero-view .hero-btn-container .btn-container2:hover,
#section .hero .hero-view .hero-btn-container .btn-container3:hover,
#section .hero .hero-view .hero-btn-container .btn-container4:hover,
#section .hero .hero-view .hero-btn-container .btn-container5:hover{
  background-color: #2e2e2e;
}

#section .hero .hero-view .hero-btn-container > div.on {
  background-color: #2e2e2e;
}
/* hero끝 */

/* 이케아 미리보기 시작 */
#section .preview{
  margin-top: 280px;
}

#section .preview .preview-title{
  margin-left: 150px;
  font-size: 42px;
  font-weight: 800;
}

#section .preview .preview-content{
  display: flex;
  width: 1620px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 35px;
  font-size: 23px;
  font-weight: 400;
  text-align: center;
  line-height: 90px;
}

#section .preview .preview-content .prev1>li a,
#section .preview .preview-content .prev2>li a,
#section .preview .preview-content .prev3>li a,
#section .preview .preview-content .prev4>li a{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 19px;
}

#section .preview .preview-content .prev1,
#section .preview .preview-content .prev2,
#section .preview .preview-content .prev3,
#section .preview .preview-content .prev4{
  width: 370px;
  height: 390px;
  background-color: #D9E1D5;
  border-radius: 70px;
  line-height: 75px;
  margin-top: 
}

#section .preview .preview-content .prev1>li img,
#section .preview .preview-content .prev2>li img,
#section .preview .preview-content .prev3>li img,
#section .preview .preview-content .prev4>li img{
  width: 100%;
  height: auto;
}

/* 호버 */
#section .preview .preview-content .prev1:hover,
#section .preview .preview-content .prev2:hover,
#section .preview .preview-content .prev3:hover,
#section .preview .preview-content .prev4:hover{
background-color: #8DCC71;
transition: all 0.6s;
}

#section .preview .preview-content ul {
  overflow: hidden;
}

#section .preview .preview-btn{
  width: 272px;
  height: 63px;
  background-color: #FFCF4B;
  border-radius: 70px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  line-height: 63px;
  margin: 0 auto;
    margin-top: 35px;
}

#section .preview .preview-btn:hover{
  background-color: #f8b600;
}


#section .preview .preview-content .prev1,
#section .preview .preview-content .prev2,
#section .preview .preview-content .prev3,
#section .preview .preview-content .prev4 {
  width: 370px;
  height: 390px;
  background-color: #D9E1D5;
  border-radius: 70px;
  line-height: 75px;
  transition: transform 0.4s ease;  
}
#section .preview .preview-content .prev1:hover,
#section .preview .preview-content .prev2:hover,
#section .preview .preview-content .prev3:hover,
#section .preview .preview-content .prev4:hover {
  background-color: #8DCC71;
  transform: scale(1.05);  
}
/* 이케아 미리보기 끝 */

/* hej시작 */
#section .hej{
  margin-top: 340px;
  text-align: center;
  margin-bottom: 166px;
}

#section .hej .hej-title{
  font-size: 58px;
  font-weight: 800px;
}

#section .hej .hej-desc{
    font-size: 45px;
  font-weight: 800px;
  margin-top: 65px;
}

#section .hej .hej-icon-container{
  display: flex;
  justify-content: space-between;
  width: 937px;
  height: 212px;
  margin: 0 auto;
  margin-top: 202px;
}

#section .hej .hej-icon-container .hej-icon1,
#section .hej .hej-icon-container .hej-icon2,
#section .hej .hej-icon-container .hej-icon3,
#section .hej .hej-icon-container .hej-icon4{
  width: 180px;
  height: 178px;
  border-radius: 100%;
  background-color: rgba(141, 204, 113, 0.1);
  font-size: 18px;
  font-weight: 400;
}

#section .hej .hej-icon-container .hej-icon1>li img,
#section .hej .hej-icon-container .hej-icon2>li img,
#section .hej .hej-icon-container .hej-icon3>li img,
#section .hej .hej-icon-container .hej-icon4>li img{
  margin-top: 40px;
}
/* hej 끝 */

/* 원하는상품 */
#section .easy{
  background-color: #DBDBDB;
  display: flex;
  height: 938px;
  position: relative;
} 

#section .easy .easy-wrap .easy-title{
  margin-top: 375px;
  font-size: 45px;
  font-weight: 800;
  margin-left: 150px;
}

#section .easy .easy-wrap .easy-button{
  display: flex;
  margin-left: 150px;
  margin-top: 35px;
  width: 316px;
  justify-content: space-between;
  text-align: center;
  line-height: 45px;
  font-size: 18px;
  font-weight: 300;
}

#section .easy .easy-wrap .easy-button .easy-btn{
  border-radius: 70px;
  background-color: rgb(255, 255, 255);
  width: 150px;
  height: 45px;
}

#section .easy .easy-wrap .easy-button .easy-btn:hover{
background-color: #e6e6e6;
}

#section .easy .easy-wrap .easy-button .easy-btn2{
  border-radius: 70px;
  background-color:#FFCF4B;
  width: 150px;
  height: 45px;
}

#section .easy .easy-wrap .easy-button .easy-btn2:hover{
  background-color: #f8b600;
}

#section .easy .easy-view .easy-img img{
  display: none;
  margin-left: 120px;
  margin-top: 230px;
  position: absolute;
  top: 0;
  left: 500px;
  
}

#section .easy .easy-view .easy-img img:nth-child(1){
  display: block;
}


#section .easy .easy-view .easy-img img:nth-child(2),
#section .easy .easy-view .easy-img img:nth-child(4){
  margin-left: 220px;
}

#section .easy .easy-view .easy-btn-container{
  display: flex;
  justify-content: space-between;
width: 88px;
height: 20px;
position: absolute;
top: 800px; left: 850px;
} 

#section .easy .easy-view .easy-btn-container .btn-container1,
#section .easy .easy-view .easy-btn-container .btn-container2,
#section .easy .easy-view .easy-btn-container .btn-container3,
#section .easy .easy-view .easy-btn-container .btn-container4{
  width:16px; height: 16px;
  background-color: #929292;
  border-radius: 100%;
}

#section .easy .easy-view .easy-btn-container .btn-container1:hover,
#section .easy .easy-view .easy-btn-container .btn-container2:hover,
#section .easy .easy-view .easy-btn-container .btn-container3:hover,
#section .easy .easy-view .easy-btn-container .btn-container4:hover{
  background-color: #2e2e2e;
}

#section .easy .easy-product .easy-product1,
#section .easy .easy-product .easy-product2,
#section .easy .easy-product .easy-product3,
#section .easy .easy-product .easy-product4{
position: absolute;
top: 215px; right: 150px;
width: 495px;
height: 574px;
display: none;
}

#section .easy .easy-product .easy-product1{
display: block; 
}

#section .easy .easy-product .product-name{
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 40px;
}

#section .easy .easy-product .product-price{
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 45px;
}

#section .easy .easy-product .product-desc{
  font-size: 23px;
  font-weight: 100;
}

#section .easy .slide-controls .slide-btn1{
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
    background-color: #aeaeae;
    position: absolute;
    top: 790px; left: 750px;
    border-radius: 50%;
}

#section .easy .slide-controls .slide-btn1:hover{
  background-color:#757575
}

#section .easy .slide-controls .slide-btn2{
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
    background-color: #aeaeae;
    position: absolute;
    top: 790px; left: 1000px;
        border-radius: 50%;
}

#section .easy .slide-controls .slide-btn2:hover{
  background-color:#757575
}


#section .easy .slide-controls .slide-btn:hover {
    opacity: 1;
}

#section .easy .easy-view .easy-btn-container > div.active {
  background-color: #2e2e2e;
}
/* 원하는상품 끝 */

/* 새로운소식 시작 */
#section .news {
  display: flex;
  width: 100%;
  height: 938px;
  overflow-x: hidden; /* 가로 스크롤 */
  box-sizing: border-box;
  flex-direction: row;
}

#section .news .news-wrap .news-title {
  font-size: 43px;
  font-weight: 800;
  margin-top: 340px;
  margin-left: 150px;
}

#section .news .news-wrap .news-btn {
  font-size: 20px;
  font-weight: 300;
  border-radius: 70px;
  background-color: #FFCF4B;
  width: 275px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  margin-left: 150px;
  margin-top: 35px;
}

#section .news .news-wrap .news-btn:hover {
  background-color: #f8b600;
}

#section .news .news-content {
  display: flex;
  margin-top: 240px;
  margin-left: auto;
  margin-right: auto;
  gap: 40px;
  flex-wrap: nowrap;
}

#section .news .news-content .news-content1,
#section .news .news-content .news-content2,
#section .news .news-content .news-content3,
#section .news .news-content .news-content4 {
  width: 370px;
  height: 400px;
  text-align: center;
  position: relative;
  z-index: 1;
  border-radius: 70px;
  transition: transform 0.3s ease;
  background-size: cover;
  background-position: center;
  flex-shrink: 0; /* 줄어들지 않도록 설정 */
}

#section .news .news-content .news-content1 {
  background-image: url(../images/main/Group\ 10.png);
}

#section .news .news-content .news-content2 {
  background-image: url(../images/main/Group\ 11.png);
}

#section .news .news-content .news-content3 {
  background-image: url(../images/main/Group\ 13.png);
}

#section .news .news-content .news-content4 {
  background-image: url(../images/main/Group\ 14.png);
}

#section .news .news-content .news-content1:hover,
#section .news .news-content .news-content2:hover,
#section .news .news-content .news-content3:hover,
#section .news .news-content .news-content4:hover {
  transform: scale(1.03);
  opacity: 0.85;
}

#section .news .news-content .news-content1>li a,
#section .news .news-content .news-content2>li a,
#section .news .news-content .news-content3>li a{
 color: #585858;  !important;
}

#section .news .news-content .news-content1::after,
#section .news .news-content .news-content2::after,
#section .news .news-content .news-content3::after{
  content: "";
  display: block;
  width: 370px;
  height: 400px;
  background: linear-gradient(to bottom, #00000000, #000);
  border-radius: 70px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#section .news .news-content .news-content1::before,
#section .news .news-content .news-content2::before,
#section .news .news-content .news-content3::before,
#section .news .news-content .news-content4::before {
  content: "";
  display: block;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 400px;
  left: 197px;
  background-image: url(../images/main/keyboard_arrow_down_24dp_FFF_FILL0_wght400_GRAD0_opsz24\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
}

#section .news .news-content .news-content1 > li:nth-child(1),
#section .news .news-content .news-content2 > li:nth-child(1),
#section .news .news-content .news-content3 > li:nth-child(1),
#section .news .news-content .news-content4 > li:nth-child(1) {
  font-size: 28px;
  font-weight: 500;
  margin-top: 140px;
}

#section .news .news-content .news-content1 > li:nth-child(1) a,
#section .news .news-content .news-content2 > li:nth-child(1) a,
#section .news .news-content .news-content3 > li:nth-child(1) a,
#section .news .news-content .news-content4 > li:nth-child(1) a {
  color: #fff;
}

#section .news .news-content .news-content1 > li:nth-child(2),
#section .news .news-content .news-content2 > li:nth-child(2),
#section .news .news-content .news-content3 > li:nth-child(2),
#section .news .news-content .news-content4 > li:nth-child(2) {
  font-size: 20px;
  font-weight: 400;
  margin-top: 100px;
}

#section .news .news-content .news-content1 > li:nth-child(2) a,
#section .news .news-content .news-content2 > li:nth-child(2) a,
#section .news .news-content .news-content3 > li:nth-child(2) a,
#section .news .news-content .news-content4 > li:nth-child(2) a {
  color: #fff;
}
/* 새로운소식 끝 */

/* 특별한가격 시작 */
#section .special {
  display: flex;
  width: 100%;
  height: 940px;
  background-color: #EAEAEA;
}

#section .special .special-content {
  display: flex;
}

#section .special .special-wrap > h2 {
  margin-top: 370px;
  margin-left: 150px;
  font-size: 42px;
  font-weight: 800;
}

#section .special .special-wrap .special-btn {
  width: 275px;
  height: 60px;
  border-radius: 70px;
  background-color: #FFCF4B;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  font-weight: 300;
  margin-left: 150px;
  margin-top: 35px;
}

#section .special .special-wrap .special-btn:hover {
  background-color: #f8b600;
}

#section .special .special-content .special-content-left .special-item,
#section .special .special-content .special-content-right .special-item2 {
  position: relative;
  overflow: hidden; 
}

#section .special .special-content .special-content-left .special-item::before,
#section .special .special-content .special-content-right .special-item2::before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border-bottom: 50px solid #638A51;
  border-top: 50px solid transparent;
  border-left: 50px solid #638A51;
  border-right: 50px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  transform: rotate(90deg);
}

#section .special .special-content .special-content-left .special-item::after {
  content: "";
  display: block;
  width: 581px;
  height: 469px;
  position: absolute;
  background-color: #36851234;
  top: 0;
  left: 0;
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
}

#section .special .special-content .special-content-left .special-item:hover::after {
  opacity: 1;
  visibility: visible;
}

#section .special .special-content .special-content-right .special-item2::after {
  content: "";
  display: block;
  width: 784px;
  height: 942px;
  position: absolute;
  background-color: #36851234;
  top: 0;
  left: 0;
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
}

#section .special .special-content .special-content-right .special-item2:hover::after {
  opacity: 1;
  visibility: visible;
}

/* 이미지 호버 확대 */
#section .special .special-content .special-content-left .special-item img,
#section .special .special-content .special-content-right .special-item2 img {
  transition: transform 0.3s ease;
}

#section .special .special-content .special-content-left .special-item:hover img,
#section .special .special-content .special-content-right .special-item2:hover img {
  transform: scale(1.1);
}

#section .special .special-content .special-content-left .special-item .special-btn-mini1,
#section .special .special-content .special-content-left .special-item .special-btn-mini2,
#section .special .special-content .special-content-right .special-item2 .special-btn-mini3 {
  width: 150px;
  height: 45px;
  background-color: #FFCF4B;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 70px;
  text-align: center;
  line-height: 45px;
  font-size: 18px;
  font-weight: 300;
  z-index: 9999;
}

#section .special .special-content .special-content-left .special-item .special-btn-mini1:hover,
#section .special .special-content .special-content-left .special-item .special-btn-mini2:hover,
#section .special .special-content .special-content-right .special-item2 .special-btn-mini3:hover {
  background-color: #f8b600;
}
/* 특별한가격 끝 */

/* 아이디어 시작 */
#section .idea{
  display: flex;
  width: 100%;
  height: 800px;
}

#section .idea .idea-wrap .idea-title{
  font-size: 45px;
  font-weight: 800;
  margin-left: 150px;
  margin-top: 340px;
}

#section .idea .idea-wrap .idea-btn{
  width: 275px; height: 60px;
  border-radius: 70px;
  background-color: #FFCF4B;
  margin-top: 35px;
  margin-left: 150px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  line-height: 60px;
}
#section .idea .idea-wrap .idea-btn:hover{
  background-color: #f8b600;;
}

#section .idea .idea-content {
  display: flex;
  margin-left: 140px;
  margin-top: 240px;
}

#section .idea .idea-content2-1{
  display: flex;
  margin-left: 36px;
}

#section .idea .idea-content2-1 .idea3{
  margin-left: 36px;
}

#section .idea .idea-content2-2{
  display: flex;
  margin-left: 36px;
}

#section .idea .idea-content2-2 .idea5{
  margin-left: 36px;
}

#section .idea .idea-content .idea-cont .idea1{
  position: relative;
}

#section .idea .idea-content .idea-cont .idea1>li:nth-child(2){
  position: absolute;
  bottom: 30px; right: 50px;
}

#section .idea .idea-right .idea-content2-1 .idea2{
  position: relative;
}

#section .idea .idea-right .idea-content2-1 .idea2>li:nth-child(2){
  position: absolute;
  bottom: 20px; right: 50px;
}

#section .idea .idea-right .idea-content2-1 .idea3{
  position: relative;
}

#section .idea .idea-right .idea-content2-1 .idea3>li:nth-child(2){
  position: absolute;
  bottom: 20px; right: 50px;
}


#section .idea .idea-right .idea-content2-2 .idea4{
  position: relative;
}

#section .idea .idea-right .idea-content2-2 .idea4>li:nth-child(2){
  position: absolute;
  bottom: 20px; right: 50px;
}

#section .idea .idea-right .idea-content2-2 .idea5{
  position: relative;
}

#section .idea .idea-right .idea-content2-2 .idea5>li:nth-child(2){
  position: absolute;
  bottom: 20px; right: 50px;
}

.idea-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* 호버시 */
#section .idea .idea-content .idea-cont .idea1:hover,
#section .idea .idea-right .idea-content2-1 .idea2:hover,
#section .idea .idea-right .idea-content2-1 .idea3:hover,
#section .idea .idea-right .idea-content2-2 .idea4:hover,
#section .idea .idea-right .idea-content2-2 .idea5:hover {
  position: relative;
  z-index: 8888; 
  opacity: 1; 
  transition: all 0.5s ease;  
}

#section .idea .idea-content .idea-cont .idea1,
#section .idea .idea-right .idea-content2-1 .idea2,
#section .idea .idea-right .idea-content2-1 .idea3,
#section .idea .idea-right .idea-content2-2 .idea4,
#section .idea .idea-right .idea-content2-2 .idea5 {
  opacity: 0.8; 
}

.idea1,
.idea2,
.idea3,
.idea4,
.idea5 {
  position: relative;
  overflow: hidden;
  z-index: 10; 
}

.idea1::before,
.idea2::before,
.idea3::before,
.idea4::before,
.idea5::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: linear-gradient(to bottom, #a18cd1, #fbc2eb);
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 1;
  pointer-events: none;
}

/* hover 시 배경*/
.idea1:hover::before,
.idea2:hover::before,
.idea3:hover::before,
.idea4:hover::before,
.idea5:hover::before {
  opacity: 0.7;
}

.idea1:hover li:nth-child(2) a,
.idea2:hover li:nth-child(2) a,
.idea3:hover li:nth-child(2) a,
.idea4:hover li:nth-child(2) a,
.idea5:hover li:nth-child(2) a{
display: block;
}

.idea1 li,
.idea2 li,
.idea3 li,
.idea4 li,
.idea5 li {
  position: relative;
  z-index: 2;
}

.idea2::before,
.idea3::before,
.idea4::before,
.idea5::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: linear-gradient(to bottom, #ffffff00, #000000);
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 10;     
  border-radius: 70px;
}

.idea1::before{
  content: '';
  position: absolute;
  top: 0; left: 2px;
  width: 360px; height: 462px;
  background: linear-gradient(to bottom, #ffffff00, #000000);
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 10;     
  border-radius: 70px;
}

#section .idea .idea-content,
#section .idea .idea-right,
#section .idea .idea-content2-1,
#section .idea .idea-content2-2 {
  position: relative;
  z-index: 1; 
}

.idea1 li:nth-child(2) a,
.idea2 li:nth-child(2) a,
.idea3 li:nth-child(2) a,
.idea4 li:nth-child(2) a,
.idea5 li:nth-child(2) a {
  position: relative;
  z-index: 9999; 
  color: #fff;;
  display: block;
}


.idea1 li:nth-child(2){
  position: absolute;
  bottom: 30px;  
  left: 230px;   
  z-index: 1000; 
  display: none; 
}

.idea2 li:nth-child(2),
.idea5 li:nth-child(2) {
  position: absolute;
  bottom: 30px; 
  left: 180px;   
  z-index: 1000;
  display: none;
}

.idea3 li:nth-child(2),
.idea4 li:nth-child(2) {
  position: absolute;
  bottom: 30px;  
  left: 430px;   
  z-index: 1000; 
  display: none; 
}


.idea1:hover li:nth-child(2),
.idea2:hover li:nth-child(2),
.idea3:hover li:nth-child(2),
.idea4:hover li:nth-child(2),
.idea5:hover li:nth-child(2) {
  display: block;
}
/* 아이디어 끝 */



/* 탑버튼 */

.top > h3 {
  background-color: #FFCF4B;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  font-weight: lighter;
  position: fixed;
  bottom: 60px;
  right: 30px;
  z-index: 9999;
  cursor: pointer;
  margin: 0;
  user-select: none;
  transition: background-color 0.3s ease;
}

.top > h3:hover {
  background-color: #f8b600;
}

.top > h3 a {
  display: block;
  color: inherit;
  text-decoration: none;
  user-select: none;
  transition: opacity 1.6s ease;
}

.top > h3:active {
  animation: rotateFadeOut 1.6s forwards;
}

.top > h3:active a {
  opacity: 0;
}